<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Instagramclone", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "ホーム", root_path %></li>
        <li><%= link_to "利用規約", terms_path %></li>
        <li><%= link_to "ログイン", '#' %></li>
        <% if user_signed_in? %> 
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
